<!doctype html>
<html lang=en-us>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<meta name=description content="Last BART departures from various stations">
<meta name=author content="Jacob Hoffman-Andrews and Chris Palmer">
<link rel=icon href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚉</text></svg>">
<title>Last BART train departures from various stations</title>
<style>
body {
  font-family: sans-serif;
  line-height: 1.6;
}
</style>
<body>
<ul>
{{#stop}}
<li><a href='{{stop_name_urlified}}'>{{stop_name}}</a></li>
{{/stop}}
</ul>
</body>
