<!doctype html>
<html lang=en-us>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<meta name=description content="Last BART departures from various stations">
<meta name=author content="Jacob Hoffman-Andrews and Chris Palmer">
<title>Last BART train departures from various stations</title>
<style>
body {
  font-family: sans-serif;
  line-height: 1.6;
}
</style>
<body>
<ul>
{{#stop}}
<li><a href='{{stop_name_urlified}}'>{{stop_name}}</a></li>
{{/stop}}
</ul>
</body>
