{{>preamble}}
<meta name=description content="Last BART departures from various stations">
<title>Last BART train departures from various stations</title>
<style>
{{>style}}
</style>
<body>
<p>Lastbart tells you when the last <a href="https://bart.gov/">BART</a> train
leaves the station. See also <a href="https://www.bart.gov/schedules">the
official BART schedules and map</a>.</p>
{{#stop}}
<p>🚉 <a href='{{stop_name_urlified}}'>{{stop_name}}</a></p>
{{/stop}}
{{>footer}}
</body>
