<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Last BART from {{stop_name}}</title>
  <meta name="description" content="Last BART departures from {{stop_name}}">
  <meta name="author" content="Jacob Hoffman-Andrews">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <style>
    body {
      max-width: 25em;
    }
    ul {
      list-style-type: none;
    }
    .service {
      border: 1px solid grey;
      top: 0;
      left: 0;
      background: white;
      padding: 0.5em;
      display: none;
    }
    .service.selected {
      display: block;
    }
    .service_id {
      float: left;
      margin: 1em;
    }
    .service_id.selected {
      border: 1px solid grey;
    }
    .clear {
      clear: both;
    }
  </style>

  <script>
    {{>stop_js}}
  </script>
</head>

<body>
  Last train departs {{stop_name}} at:
  <div id=services>
    {{#service}}
    <div class="service_id {{#visible_days}}svid_{{day}} {{/visible_days}}">{{service_id}}</div>
    {{/service}}
    <div class=clear></div>
    {{#service}}
    <div class="service {{service_id}} {{#visible_days}}{{day}} {{/visible_days}}">
      {{#departure}}
      <ul>
        <li>{{friendly_time}} for {{headsign}}</li>
      </ul>
      {{/departure}}
      <div class="transfers">
      Note: Last departures are listed by where the train is ultimately going
      (aka 'headsign'). If there's no listing for the train you want to get
      on, or if the last departure is surprisingly early, you probably need to
      take a different train and transfer. See the <a
      href="https://www.bart.gov/stations">Station Map</a> for lines and
      transfer stations.
      </div>
      <br/>
      <div class="last-valid">
        Data retrieved from <a href="http://bart.gov/">bart.gov</a> on {{fetch_date}}, valid until
        {{last_valid_date}}. <a href="http://bart.gov/stations/{{shortest_stop_id}}/schedule.aspx">Official schedule</a>
      </div>
    </div>
    {{/service}}
  </div>
</body>
