function byClass(name) {
  return document.getElementsByClassName(name);
}

function addClass(target, clss) {
  target.className += " " + clss;
}

function removeClass(target, clss) {
  var regex = new RegExp(clss);
  target.className = target.className.replace(regex, '')
}

function deselectAll() {
  var elements = byClass('service');
  for (var i = 0; i < elements.length; i++) {
    removeClass(elements[i], 'selected');
  }
  var serviceIdElements = byClass('service_id');
  for (var i = 0; i < serviceIdElements.length; i++) {
    removeClass(serviceIdElements[i], 'selected');
  }
}

function selectServiceId(target) {
  var serviceId = target.innerText;
  deselectAll();
  addClass(target, 'selected');
  var service = byClass(serviceId)[0];
  addClass(service, 'selected');
}

window.onload = function () {
  twoHoursAgo = new Date(new Date() - (2 * 60 * 60 * 1000));
  dayOfWeek = twoHoursAgo.getDay();

  var currentServiceId = byClass('svid_vd' + dayOfWeek)[0];
  selectServiceId(currentServiceId);

  var services = byClass('service_id');
  for (var i = 0; i < services.length; i++) {
    var s = services[i];
    s.onclick = function(e) {
      selectServiceId(e.target);
    }
  }
}

