function byClass(name) {
  return document.getElementsByClassName(name);
}

function addClass(target, clss) {
  target.className += " " + clss;
}

function removeClass(target, clss) {
  const regex = new RegExp(clss);
  target.className = target.className.replace(regex, '')
}

function deselectAll() {
  const elements = byClass('service');
  for (let i = 0; i < elements.length; i++) {
    removeClass(elements[i], 'selected');
  }
  const serviceIdElements = byClass('service_id');
  for (let i = 0; i < serviceIdElements.length; i++) {
    removeClass(serviceIdElements[i], 'selected');
  }
}

function selectServiceId(target) {
  const serviceId = target.innerHTML;
  deselectAll();
  addClass(target, 'selected');
  const service = byClass(serviceId)[0];
  addClass(service, 'selected');
}

window.onload = function () {
  const twoHoursAgo = new Date(new Date() - (2 * 60 * 60 * 1000));
  const dayOfWeek = twoHoursAgo.getDay();

  const currentServiceId = byClass('svid_vd' + dayOfWeek)[0];
  selectServiceId(currentServiceId);

  const services = byClass('service_id');
  for (let i = 0; i < services.length; i++) {
    const s = services[i];
    s.onclick = function(e) {
      selectServiceId(e.target);
    }
  }
}
